{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="container-fluid header-content">
        <div class="row header-content-inner" style = "margin-bottom:20px;">
            <div class="col-lg-6">

                <div class="card bg-light mb-3" id="free-proposal" >
                    <div class="card-header" style="margin-top: 10px;">
                        <h2>Get Your Information Packet</h2>
                        <h4>Please fill out the form to request <br>your <strong>"no obligation" information packet:</strong></h4>
                    </div>
                    <div class="card-body">
                      {{ partial "mc-signup.html" . }}
                    </div>
                </div>


            </div>
            <div class="col-lg-6" style="background:rgba(200,127,80, 0.5);">
                {{ with .Site.Params.hero.slogan }}
                <h2 style = "font-weight:bold;">{{ . | markdownify  }}</h2>
                {{ end }}
                {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
                {{ end }}
                {{ with .Site.Params.hero.subtitle2 }}
                <p style = "margin-top:20px;margin-bottom:20px;">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.hero.subtitle1 }}
                <p style = "margin-bottom:20px; font-size:14px;">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.hero.buttonText1 }}
                <a href="#services" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
                {{ end }}
                {{ with .Site.Params.hero.buttonText2 }}
                <a href="#faq" class="btn btn-primary btn-xl page-scroll" style="margin-left:10px;margin-right:10px;">{{ . }}</a>
                {{ end }}
                <div class="card bg-light">
                    <div class="card-body">
                        <h3 style="padding:20px;" class="card-title">Or call now to speak to one of our senior specialists!</h3>
                        <p class="card-text" style="color:white; margin-bottom: 30px;"><a style = "color:white; font-size:35px;"href="tel:{{ .Site.Params.contact.phone }}">{{ .Site.Params.contact.phone }}</a></p>
                        <a href="#contact" style="margin-bottom:20px;" class="btn btn-primary btn-xl page-scroll">CALL NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="container">-->
        <!--<div class="col-lg-4">-->
            <!---->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="header-content">-->
        <!--<div class="header-content-inner">-->
            <!--{{ with .Site.Params.hero.slogan }}-->
                <!--<h1>{{ . | markdownify  }}</h1>-->
            <!--{{ end }}-->
            <!--{{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}-->
                <!--<hr>-->
            <!--{{ end }}-->
            <!--{{ with .Site.Params.hero.subtitle }}-->
                <!--<p>{{ . | markdownify }}</p>-->
            <!--{{ end }}-->
            <!--{{ with .Site.Params.hero.buttonText }}-->
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>-->
            <!--{{ end }}-->
        <!--</div>-->
    <!--</div>-->
</header>
