<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{clear:left;font:14px Helvetica,Arial,sans-serif;}
#mc_embed_signup input {color: black;}
</style>
<div id="mc_embed_signup">
  <form action="https://formkeep.com/f/087e8b31e50f"
        accept-charset="UTF-8"
        enctype="multipart/form-data"
        method="POST">
    <div id="mc_embed_signup_scroll">
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
        <input required type="email" id="email-address" name="email">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
        </label>
        <input required type="text" id="first-name" name="first-name">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
        </label>
        <input required type="text" id="last-name" name="last-name">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE5">City  <span class="asterisk">*</span>
        </label>
        <input required type="text" id="city" name="city">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE9">State  <span class="asterisk">*</span>
        </label>
        <input required type="text" id="state" name="state">
      </div>
      <div class="mc-field-group size1of2">
        <label for="mce-PHONE">Phone Number </label>
        <input type="tel" id="phone-number" name="phone-number">
      </div>
      <div class="clear"><input type="submit" value="Submit" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>
